.small-heading {
  color: #FF004C;
}
.content {
  color: rgba(255, 255, 255, 0.8);
}
.about {
  background-image: url('./../../assets/aboutBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutFeatureCard {
  background: rgba(255, 255, 255, 0.05);
}
